.footerBlock {
    height: 50vh;
    background-color: rgb(165, 165, 165);
}
.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.titleFooter {
    color: rgb(184, 230, 18);
    font-weight: 400;
    background-color: rgb(8, 78, 1);
}
.footer {
    border: 1px solid rgb(184, 230, 18);
    width: 60%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
 